<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %logger{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <logger name="org.apache" level="warn"/>
        <logger name="org.apache.http" level="warn"/>
        <logger name="org.silvertunnel_ng" level="info"/>
        <logger name="org.silvertunnel_ng.netlib.util.HttpUtil" level="warn"/>
        <!--<logger name="org.silvertunnel_ng.netlib.layer.tor.directory.RouterImpl" level="info"/>-->
        <!--<logger name="org.silvertunnel_ng.netlib.adapter.socket.SocketGlobalUtil" level="info"/>-->
        <logger name="org.silvertunnel_ng.netlib.layer.tor.clientimpl.Tor" level="info"/>

    </Loggers>
</Configuration>